<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>How are you feeling?</title>

    <link rel="stylesheet" href="/Main.css">
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div class="app">


      <h1 class="title">Stress Level Guide</h1>

      <a class="nav" href="/">Home</a>

    </div>
  </body>
</html>
