<h2 class="good-greeting">Hey there! That's great to hear you're feeling great. Did you want to pass on those happy vibes? </h2>

<form class="form" action="/mood/good" method="post">

  <label for="comments" class="form-item">
    Pass on those good feelings:
    <input type="text" name="comments" value="{{blank}}">
  </label>
  
  <input type="hidden" name="image" value="{{image}}">
  
  <input type="submit" name="" value="Submit">
</form>

<p>
  <q>Whatever is good for your soul do that.</q> 
  <br>
  <i>– Anonymous</i>
</p>